<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gobang</title>
    </head>
    <body>
        <div id="app"></div>
        <script src="//127.0.0.1:7777/index.js"></script>
    </body>
</html>
